@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(to right, #4a90e2, #9013fe); */
  height: 100vh;
}

header {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  position: relative;
}

/* hello section */
.hello{
  /* background-image: url("./assets/images/logo.png"); */
  background-color: rgb(155, 155, 253);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

/* .auth-section {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.auth-section h1 {
  text-align: center;
}

.auth-section form {
  display: flex;
  flex-direction: column;
}

.auth-section label {
  margin: 10px 0 5px;
}

.auth-section input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-section button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dashboard {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.recent-submissions {
  list-style-type: none;
  padding: 0;
}

.recent-submissions li {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-table{
  max-width: 900px;
  margin: 0 auto;
} */
/* table ends */